PORT=3000
DB_URL=
JWT_EXPIRES_IN=
JWT_SECRET=

AWS_KEY=
AWS_SECRET=
S3_BUCKET=
S3_ASSET_URL=
AWS_REGION=

TAXJAR_API_KEY=
TAXJAR_BASE_URL=
WEB_URL=

CHAT_BASE_URL=
SENDGRID_API_KEY=
SENDGRID_API_KEY_=

ENCRYPTION_KEY = 
ENCRYPTION_IV = 

SHIPPO_TOKEN = 

STRIPE_PUBLIC_KEY=
STRIPE_CLIENT_SECRET=



